/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require markitup/skins/markitup/style
 *= require markitup/sets/xbbcode/style
 */
 
@import "bootstrap";

body{
	color: #666;
}

#notice {
  color: green;
  padding:5px;
  //background: #72CA72;
  @include border-radius(5px);
}

#error {
  color: red;
  padding:5px;
  //background: #E99E9E;
  @include border-radius(5px);
}

.notice{
	display:none;
}

.alert{
	display:none;
}

.home_container{
	width:1250px;
	margin:auto;
}

.bordered{
	background-color: #fff;
	padding: 10px;
	margin: 20px 15px 20px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0px 2px rgba(0,0,0,0.1);
	box-shadow: 0 0px 2px rgba(0,0,0,0.05);	
}

.artical_block{
	margin-top:10px;
	padding-bottom: 15px;
	border-bottom: 1px black dashed;
}

.blog_like_ctrl{
	position: absolute;
	height:12px;
	width:12px;
	cursor:pointer;
}

.red_head{
	color: #d64;
	font-weight: 500;
	font-family: "Lato", 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Helvetica Neue', "aria";
}

li {
	list-style:none;
}

.section_block{
	height:250px;
	width:250px;
	padding:20px;
	float:left;
	border: 1px solid #666;
	margin:30px;
	@include border-radius(10px);
	@include box-shadow(#666 2px 2px 10px);
}

.section_link{
	font-size: 1.5em;
	line-height: 2em;
	text-align: center;
	display: block;
}


.header-inner{
	background-color: #563d7c; 
	min-height:40px;
}

.newblog{
	margin: 25px 0 20px 60px;
}