<h3>博客管理</h3>
<% if @blog_classify %>
  <% @blog_classify.each do |classify| %>
    <h4 class = "red_head"><%= classify %><span><%= Blog.find_by_blogtype(classify).sort/1000 %></span></h4>
    <% @blog.each do |blog|%>
      <% if blog[:blogtype] == classify %>
        <li style="margin-left:10px"><%= link_to blog.title, blog %><span><%= blog.sort%></span></li>
      <% end%>
    <% end%>
  <% end%>
<% end%>