<div class="navbar">
	<div class="navbar-inner">
	  <div class="container">
	  	<div style="float:left">
	    	<a class="brand" href="#">后台管理</a>
	     	<ul class="nav">
	      	<li class="active"><a href="/homes/index">首页</a></li>
	      	<li><a href="#">今日数据</a></li>
	      	<li><a href="/homes/all_data">总数据</a></li>
	     </ul>
	  	</div> 
	    <div style="float:right">
	      <form class="navbar-search">
	  			<input type="text" class="search-query" placeholder="Search">
	  			<% if current_user%>
			  		<a href="#"><%= current_user.username%></a> | <%= link_to('登出', destroy_user_session_path, :method => :delete) %> 
					<% else%>
			  		<%= link_to('登录', new_user_session_path)  %> | <a href="#">注册</a>
			 	  <% end%>
	  		</form>
			</div>
	  </div>
	</div>
</div>